accelerate
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
cmake
cohere
coloredlogs
confection
cymem
dataclasses-json
DAWG-Python
Deprecated
docopt
docx
emoji
et-xmlfile
exceptiongroup
faiss-gpu
fastapi
fastavro
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httptools
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langcodes
langdetect
langsmith
lit
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
murmurhash
mypy-extensions
networkx
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
onnxruntime
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
overrides
packaging
pandas
peft
Pillow
plac
posthog
preshed
protobuf
psutil
pulsar-client
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
Pygments
pymorphy2
pymorphy2-dicts
PyPika
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
pytz
PyYAML
rank-bm25
rapidfuzz
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
rutokenizer @ git+https://github.com/Koziev/rutokenizer@15b2e80afa03c9a5b512910778bab10e29af2582
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
spacy-russian-tokenizer @ git+https://github.com/aatimofeev/spacy_russian_tokenizer.git@6a9b246939479caf50ead09d70e063f591241ab5
SQLAlchemy
srsly
starlette
streamlit
sympy
tabulate
tenacity
thinc
threadpoolctl
tokenizers
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
transformers
triton
typer
typing-inspect
typing_extensions
tzdata
tzlocal
unstructured
urllib3
uvicorn
uvloop
validators
wasabi
watchdog
watchfiles
weasel
websocket-client
websockets
wrapt
yarl
zipp
